@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
}
*,
button,
input {
  border: 0;
  background: none;
  font-family: "Grandstander", cursive;
}
.options div {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: var(--dracula);
  color: var(--white);
}
:root {
  --main: #8b0d32;
  --mainBackground: rgba(139, 13, 50, 0.01);
  --white: #fff;
  --black: black;
  --lightgray: lightgray;
  --dracula: #15202b;
  --border: #ff79c6;
  --border-light: #ff79c5a4;
}

/* navbar */
header {
  position: sticky;
  top: 0;
  height: 13vh;
  background-color: var(--main);
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.Navquizz {
  font-size: 29px;
  font-weight: bold;
}

.hidde {
  display: none !important;
}

/* Fim navbar */

/* menu */
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 88vh;
}
.menu div p {
  font-size: 53px;
}
.menu label {
  font-weight: bold;
  margin-bottom: 20px;
}
.menu div:nth-child(1) {
  height: 300px;
  /* width: 500px; */

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.menu div:nth-child(2) {
  height: 300px;
  width: 500px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button {
  border: 1px solid var(--border);
  color: var(--white);

  width: 150px;
  height: 70px;
  border-radius: 10%;
  cursor: pointer;
}
.button:focus,
audio:focus,
input,
button {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.iniciar {
  margin: 20px 0;
}

.button:hover {
  background: var(--border);
  color: white;

  transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#userData div {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 38px;
}
input[type="text"] {
  border: 1px solid var(--border);
  color: var(--white);
  height: 100%;
  border-radius: 5%;
  cursor: pointer;
  padding: 10px;
  /* margin-bottom: 20px; */
  /* padding-right: 50px; */
}
.button-custom {
  border-radius: 5%;

  background: var(--border);
  color: white;
  border: 1px solid var(--border);
  color: var(--white);
  height: 38px !important;

  cursor: pointer;

  margin-left: -10px;
  height: 20px;
  width: 50px;
}
/* Fim menu */

/* quizz */
.quizz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 88vh;
}
.text {
  text-align: center;
  height: 15vh;
  width: 70vw;
}
.options {
  height: 50vh;
  width: 30%;
}
.options div {
  border: 1px solid var(--border);
  height: 10vh;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}
.options div:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.time {
  color: var(--border);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* fim quizz */

/* score */
.button-back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  margin: 0 0 20px 20px;
  cursor: pointer;
}
.button-back:hover {
  transform: scale(1.2);
}
.score-ref {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score,
.rank-ref {
  box-shadow: 0 0 1em rgba(207, 206, 200, 0.308);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70%;
  width: 50%;
  border-radius: 10%;
  border: 1px solid var(--border);
}
.score #pontos {
  margin: 25px 0;
  font-weight: bold;
  font-size: 30px;
  color: var(--border);
}
.score input {
  margin-bottom: 15px;
}

.sub-score {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.sub-score p {
  color: var(--white);
  font-weight: 500;
}
.sub-score p span {
  color: var(--border);
}
/* Fim score */

/* gif */
.gif {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  margin-left: 50px;
}
.gif img {
  width: 180px;
  animation: gif 3s infinite;
}
@keyframes gif {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* fim gif */

/* rank */
.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 88vh;
}
.rank-ref {
  min-height: 50vh;
}
.rank-ref h4 {
  color: var(--border);
  font-weight: bold;
  font-size: 22px;
  margin: 50px 0;
}
/* table */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto 50px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d8aace65;
}

th {
  background-color: var(--border-light);
  color: white;
}
/* fim table */
/* fim rank */

@media (max-width: 800px), (max-height: 400px) {
  header {
    height: 70px;
  }
  .options div {
    height: 80px;
    width: 250px;
  }
  .text {
    height: 150px;
  }
}
@media (max-width: 1000px) {
  .score {
    width: 800px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  audio {
    width: 150px;
  }
  .rank-ref {
    width: 80vw;
    height: 70vh;
  }
}
